<%= flash[:notice] %>
<div class="container">
<h1 class="text-center text-danger">Admin Login</h1>
<%= form_with url:"/admin/login", method: :post do |form| %>
    <div class="field">
        <%= form.label :user_id, { class: "form-label"} %>
        <%= form.text_field :user_id, { class: "form-control", placeholder: "User Name" } %>
    </div>
    <div class="field">
        <%= form.label :password, { class: "form-label"} %>
        <%= form.password_field :password, { class: "form-control", placeholder: "Password" } %>
    </div>

  <div class="actions">
    <%= form.submit "Admin Login", class: "btn btn-primary" %>
  </div>
  </div>
  <% end %>