<!DOCTYPE html>
<html>
  <head>
    <title>Electro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  

  

<header>
			
			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-11">
							<div class="header-logo">
								<a href="/gallery/index" class="logo">
									<img src="/assets/logo.png" alt="">
								</a>
							</div>
						</div>
						<div class="col-6 col-md-1">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="/assets/images.png" alt="cart" width="80" height="80">
								</a>
							</div>
						</div>						
						
			
						<!-- /LOGO -->

						
						
							

								
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav navbar-expand-lg">
						
						
						
						<% if user_signed_in? %>
						  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
						  <li><%= link_to "User Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
						  <li class="me-2"> <a>Logged in as <strong><%= current_user.email %></strong>.</a></li>
						  <% else %>
						  <li><%= link_to "User Sign-up", new_user_registration_path, :class => 'navbar-link'  %></li>
						  <li><%= link_to "User Login", new_user_session_path, :class => 'navbar-link'  %></li>
						<% end %>	
						
						<% if session[:admin].nil? %>
							<% if user_signed_in? %>
							<li><a href="/admin/login"></a></li>
							<% else %>
							<li><a href="/admin/login">Admin Login</a></li>
							<% end %>
						<% else %>
						<li><a href="/admin/login">Admin Logout</a></li>
						<% end %>
						<li>						
						
					</ul>
					
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		
	  
	 
	  
	 
	  
	  <br>

    <%= yield %>


	
				

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->


		<!-- FOOTER -->
		<footer id="footer">
		
						
						

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  </body>
</html>
